
*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
    border: none;
    --background-color:#f1f0f0a9;
}
img{
    max-width: 100%;
    height: auto;
}
video{
    max-width: 100%;
}
.container{
    width: 80%;
    margin: auto;
}
.container1{
    width: 100vw;
}

 #log a{
    color: white;
    text-decoration: none;
}
#log a:hover{
    background-color: rgba(194, 9, 9, 0.671);
    padding: 10px;
    border-radius: 2px;
}
body{
    padding: 0;
    margin: 0;
    background-color: #e7e7e7;
}
#logo{
    /* border: royalblue 4px solid; */
    color: white;
    font-size: 2rem;
    margin-left: 19px;
}
header{
    z-index: 1000;
}
.main-header{
    min-height: 100px;
    background: linear-gradient(to left,rgb(211, 7, 7) 80.5%, rgba(9, 9, 107, 0.842) 22.0%);
    color: white;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding-bottom: 4px;
}
.main-header-content{
    justify-content: space-around;
    /* border: 4px solid green; */
    width: auto;
    display: flex;
    align-items:center;
}
#log{
    padding: 10px;
}
[type="text"]{
    border:silver solid 1px;
    background-color: rgba(211, 56, 56);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 50px;
    background: url();
    color: white;
    height: 30px;
    width: 200px;
    mix-blend-mode:  screen;
}


/* sub-header */
.sub-header{
    z-index: 50000;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    border-bottom: 2px solid rgb(7, 6, 6);
    margin-bottom: 40px;
}
ul{
    list-style: none;
    /* border: 4px solid black; */
    width:auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
ul li{
    display: inline-block;
}
/* sub-header links */
ul li a{
    text-decoration: none;
    color: gray;
    height: 60px;
    padding: 10px;

}
      /* change hover to animation effect having foward fiil mode */
ul li a:hover{
    background-color: #f1f0f0b6;
    background-position:initial;
    padding: 16px;
}


/* watch-btn */
#watch-btn{
    background-color: rgb(230, 14, 14);
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    width: 150px;
    height: 40px;
    margin-right: 100px;
}



/* trials just */
.boxes{
    display: grid;
    grid-template-rows:auto;
    grid-template-columns:auto;
    grid-gap:15px 20px;
}
 #man-showcase .b1 caption {
    margin-left: 20px;
}
/* media queries */
@media  screen and (min-width:400px) and (max-width:500px){
    .container{
        width: 98vw;
    }
    .boxes{
        grid-template-columns: 1fr;
        grid-template-rows: 1.2fr 0.8fr 0.8fr;
    }
    .main-header{
        min-height: 70px;
        min-width: 100vw;
        overflow: hidden;
    }
    .sub-header{
        max-height:50px;
        overflow: hidden;
        min-width: 100vw;
    }
    .sub-header ul{
    
        /* overflow: hidden; */
        margin-left: 90px;
        min-width: 100vw;
        padding-left: 4px;
        font-size:16px;

    }

    .sub-header #watch-btn{
        visibility:hidden;
    }
    .main-header #logo {
        min-width:30%;
    }
    .main-header-content #log{
        visibility: collapse;
    }
    .main-header-content form{
        visibility: visible;
        display: flex;
        margin-right: 10px;
    }
    .b2, .b3, .b4{
        display: flex;
    }
    *{
        overflow: hidden;
    }
}
.b1{
    background-color: rgba(255, 255, 255, 0.521);
    grid-column: span 3;
    box-shadow: 4px 4px 20px 0px rgb(92, 88, 88,0.15);
    border-right: rgba(255, 255, 255, .8) 5x solid;
    border-top: rgba(255, 255, 255, .55) 5px solid;
    border-left: rgba(255, 255, 255, .55) 5px solid;
    border-bottom: rgba(255, 255, 255, .8) 5px solid;
    padding:0px;
    display: flex;

}

caption {
    border: 4px solid black;
}
.b1:hover{
    background-color: var(--background-color);
}
.b2{
    background-color: white;
}
.b3{
    background-color: rgb(0, 255, 128);
    /* width: 30%;
    height: 90px; */
}
.b4{
    background-color: rgb(236, 170, 70);
    /* width: 30%;
    height: 90px; */
}

.b5{
    background-color: red;
}
.b6{
    background-color:blueviolet;
}
.b7{
    background-color: lightcoral;
}




